@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.sidebar {
  background: #5f2eea;
  display: flex;
  flex-direction: column;
  width: 219px;
  height: 100vh;
}
.sidebar a {
  width: 219px;
  height: 60px;
  padding: 15px 0px;
  font-size: 14px;
  color: white;
  border: 1px solid #5f2eea;
  border-left: 3px solid #5f2eea;
}
.sidebar a div {
  margin-left: 31%;
}
.sidebar a:hover {
  border-left: 3px solid white;
  background-color: rgba(255, 255, 255, 0.22);
  text-decoration: none;
}
.active {
  border-left: 3px solid white !important;
  background-color: rgba(255, 255, 255, 0.22);
}
.sidebar h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-left: 20%;
  padding: 1rem 0rem;
}
.burger {
  background-color: black;
  border: 0px;
}
@media (max-width: 576px) {
  .sidebar {
    width: 140px;
  }
  .sidebar a {
    height: 50px;
    padding: 12px 0px;
    width: 140px;
  }
  .sidebar a div {
    margin-left: 23%;
  }
  .sidebar h5 {
    margin-left: 5%;
    padding: 1rem 0rem;
  }
}
